<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap"
    rel="stylesheet">

<body>


    <div class="main-header" id="inicio">
        <div class="background-overlay text-white py-5" style="padding-right: auto">
            <div class="container">
                <div class="row">
                    <div class="cold-9" style="text-align: center;">
                        <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png" height="200px" width="200px"><br>

                        <p
                            style=" font-family: Dancing Script, cursive;font-style: normal;font-size: 30px; font-weight: bold; color: black;">
                            "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es un Educacion
                            Esmeradamente <br> CRISTIANA. <br>
                            Mons. Miguel Ángel Garcia Arauz".
                        </p>

                    </div>


                    <div></div>

                </div>
            </div>
        </div>

    </div>


    <br>

    <div class="secction1">
        <div class="background-overlay1"></div>

        <div class="container">
            <div class="row">

                <div class="col">
                    <h4>PRIMERO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

                <div class="col">
                    <h4>SEGUNDO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

                <div class="col">
                    <h4>TERCERO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br>

<!-- bachillerato en computacion  -->
    
    <div class="secction2">
        <div class="background-overlay2"></div>

        <div class="container">
            <div class="row">

                <div class="col">
                    <h4>CUARTO</h4>
                    <p>
                        *Lengua y Literatura 4<br>
                        *Comunicación y Lenguaje L3 (Inglés Técnico) 4<br>
                        *Matemática 4<br>
                        *Física<br>
                        *Ciencias Sociales y Formación Ciudadana 4<br>
                        *Filosofía<br>
                        *Expresión Artística<br>
                        *Educación Física<br>
                        *Computación Aplicada<br>
                        *Laboratorio I<br>
                        *Sistemas e instalación de Software<br>
                        *Contabilidad General<br>
                        *Religión
                    </p>
                </div>




                <div class="col"
                    style="font-family: Amatic SC, sans-serif; padding-top: 60px; font-size: 70px; font-weight: bold;">
                    PENSUM BACHILLERATO COMPUTACION </div>




                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Lengua y Literatura 5<br>
                        *Comunicación y Lenguaje L3 (Inglés Técnico) 5<br>
                        *Matemática 5<br>
                        *Estadística Descriptiva<br>
                        *Biología<br>
                        *Química<br>
                        *Ciencias Sociales y Formación Ciudadana 5<br>
                        *Ética Profesional y Relaciones Humanas<br>
                        *Reparación y soporto técnico<br>
                        *Producción de Contenidos Digitales<br>
                        *Laboratorio II<br>
                        *Seminario<br>
                        *Práctica Supervisada (en contra horario)<br>
                        *Religión
                    </p>
                </div>



            </div>
        </div>
    </div>

    <br>

<!-- perito en computacion -->
    
    <div class="secction3">
        <div class="background-overlay3"></div>

        <div class="container">
            <div class="row">
                <H4 style="font-size: 36px;">PENSUM QUINTO PERITO</H4>
                <div class="col">

                    <h4>CUARTO</h4>
                    <p>
                        *Contabilidad de Sociedades<br>
                        *Matemática Comercial<br>
                        *Fundamentos de Derecho<br>
                        *Inglés Comercial I<br>
                        * Redacción y Correspondencia Mercantil<br>
                        *Introducción a la Economía<br>
                        *Ortografía y Caligrafía<br>
                        *Administración y Organización de Oficina<br>
                        *Computación I<br>
                        *Programación I<br>
                        *Religión
                    </p>
                </div>

                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Contabilidad de Costos<br>
                        *Cálculo Mercantil y Financiero<br>
                        *Inglés Comercial II<br>
                        *Legislación Fiscal y Aduanal<br>
                        *Finanzas Públicas<br>
                        *Geografía Económica<br>
                        *Catalogación y Archivo<br>
                        *Mecanografía<br>
                        *Computación II<br>
                        *Programación II<br>
                        *Religión

                    </p>
                </div>

                <div class="col">


                    <h4>SEXTO</h4>
                    <p>
                        *Contabilidad Bancaria<br>
                        *Estadística Comercial<br>
                        *Contabilidad Gubernamental Integrada<br>
                        *Organización de Empresas<br>
                        *Ética Profesional y Relaciones Humanas<br>
                        *Práctica Supervisada<br>
                        *Auditoría<br>
                        *Derecho Mercantil y Nociones de Derecho<br>
                        *Laboral<br>
                        *Computación III


                    </p>
                </div>



            </div>
        </div>
    </div>

    <br>
<!-- MEIBI -->
  
    <div class="secction4">
        <div class="background-overlay4"></div>

        <div class="container">
            <div class="row">
                <h4 style="font-size: 36px;">PENSUM MEIBI</h4>
                <div class="col">
                    <h4>CUARTO</h4>
                    <p>
                        *Matemáticas
                        *Física Fundamental
                        *Comunicación Y Lenguaje: Idioma Materno I [L1] <br>
                        *Comunicación Y Lenguaje: Segundo Idioma I [L2] <br>
                        *Comunicación Y Lenguaje: Tercer Idioma I [L3] Inglés <br>
                        *Expresión Artística Y Corporal I: Danza,Teatro Y Su Didáctica <br>
                        *Psicopedagogía Y Didáctica Generales <br>
                        *Educación Bilingüe Intercultural <br>
                        *Informática Aplicada A La Educación <br>
                        *Práctica Docente: Observación De Educación Formal Y No Formal <br>
                        *Religión

                    </p>
                </div>


                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Seminario Sobre Problemas De Educación <br>
                        *Medio Social Y Natural I Y Su Didáctica <br>
                        *Estadística Aplicada A La Educación <br>
                        *Comunicación Y Lenguaje: Idioma Materno
                        LI [L1] <br>
                        *Comunicación Y Lenguaje : Segundo Idioma
                        LI [L2] <br>
                        *Comunicación Y Lenguaje: Tercer Idioma LI [L3] Inglés <br>
                        *Expresión Artística Y Corporal Ii: Educación Musical Y Su Didáctica <br>
                        *Psicopedagogía Infantil <br>
                        *Didáctica De Las Matemáticas <br>
                        *Planificación Y Evaluación <br>
                        *Práctica Docente: Observación Y Participación <br>
                        *Religión
                    </p>
                </div>


              
          <div class="col">  
             <h4>SEXTO</h4>
            <p>
            *Realidad Social Cultural: Cultura, Identidad Y Derechos Humanos <br>
            *Medio Social Y Natural Ii Y Su Didáctica <br>
            *Química <br>
            *Didáctica Del Idioma Materno (L1) <br>
            *Didáctica Del Segundo Idioma (L2) <br>
            *Didáctica Del Tercer Idioma [L3] Inglés <br>
            *Literatura Universal <br>
            *Literatura Maya, Ladina, Xinka Y Garífuna <br>
            *Expresión Artística Y Corporal Ii: Artes Plásticas <br>
            *Enfoques Pedagógicos: Educación Para La Democracia Y En Valores <br>
            *Práctica Docente <br>
            * Religión
            </p>
          </div>
          
            </div>
        </div>
    </div>

    <br>




</body>