<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap"
    rel="stylesheet">

<body>
    <!-- Carrusel -->
    <div id="inicio" class="main-header">
        <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Imagen 1 -->
                <div class="carousel-item active">
                    <img src="https://i.ibb.co/sK34Vzh/Whats-App-Image-2024-07-01-at-11-43-41-AM.jpg"
                        class="d-block w-100" alt="Imagen 1" style="height: 570px; object-fit: cover;">
                </div>

                <!-- Imagen 2 -->
                <div class="carousel-item">
                    <img src="https://i.ibb.co/jrx77n7/Whats-App-Image-2024-07-01-at-10-31-17-AM.jpg"
                        class="d-block w-100" alt="Imagen 2" style="height: 570px; object-fit: cover;">
                </div>

                <!-- Imagen 3 -->
                <div class="carousel-item">
                    <img src="https://i.ibb.co/44zYpgv/Whats-App-Image-2024-06-29-at-10-44-14-AM.jpg"
                        class="d-block w-100" alt="Imagen 3" style="height: 570px; object-fit: cover;">
                </div>
                <!-- Imagen 4 -->
                 <div class="carousel-item">
                    <img src="https://i.ibb.co/dPYMntz/Whats-App-Image-2024-07-01-at-11-22-58-AM.jpg"
                        class="d-block w-100" alt="Imagen 3" style="height: 570px; object-fit: cover;">
                </div>


            </div>


        </div>

        <!-- Capa y texto encima -->
        <div
            class="background-overlay text-white d-flex flex-column align-items-center justify-content-center text-center">
            <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png" height="200px" width="200px" alt="Logo"><br>
            <p style="font-family: 'Dancing Script', cursive; font-size: 30px; font-weight: bold; color: black;">
                "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es una Educación Esmeradamente
                <br> CRISTIANA. <br>
                Mons. Miguel Ángel García Arauz".
            </p>
        </div>
    </div>

    <br>

    <div class="secction1">
        <div class="background-overlay1"></div>

        <div class="container">
            <div class="row">

                <div class="col">
                    <h4>PRIMERO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

                <div class="col">
                    <h4>SEGUNDO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

                <div class="col">
                    <h4>TERCERO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br>

 <!-- CUARTO BACHILLERATO COMPTACIONN -->
    
    <div class="secction2">
        <div class="background-overlay2"></div>

        <div class="container">
            <div class="row">

                <div class="col">
                    <h4>CUARTO</h4>
                    <p>
                        *Lengua y Literatura 4<br>
                        *Comunicación y Lenguaje L3 (Inglés Técnico) 4<br>
                        *Matemática 4<br>
                        *Física<br>
                        *Ciencias Sociales y Formación Ciudadana 4<br>
                        *Filosofía<br>
                        *Expresión Artística<br>
                        *Educación Física<br>
                        *Computación Aplicada<br>
                        *Laboratorio I<br>
                        *Sistemas e instalación de Software<br>
                        *Contabilidad General<br>
                        *Religión
                    </p>
                </div>




                <div class="col"
                    style="font-family: Amatic SC, sans-serif; padding-top: 60px; font-size: 70px; font-weight: bold;">
                    PENSUM BACHILLERATO COMPUTACION </div>




                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Lengua y Literatura 5<br>
                        *Comunicación y Lenguaje L3 (Inglés Técnico) 5<br>
                        *Matemática 5<br>
                        *Estadística Descriptiva<br>
                        *Biología<br>
                        *Química<br>
                        *Ciencias Sociales y Formación Ciudadana 5<br>
                        *Ética Profesional y Relaciones Humanas<br>
                        *Reparación y soporto técnico<br>
                        *Producción de Contenidos Digitales<br>
                        *Laboratorio II<br>
                        *Seminario<br>
                        *Práctica Supervisada (en contra horario)<br>
                        *Religión
                    </p>
                </div>



            </div>
        </div>
    </div>

    <br>

 <!-- PENSUM PERITO COMPUTACION -->
  
    <div class="secction3">
        <div class="background-overlay3"></div>

        <div class="container">
            <div class="row">
                <H4 style="font-size: 36px;">PENSUM QUINTO PERITO</H4>
                <div class="col">

                    <h4>CUARTO</h4>
                    <p>
                        *Contabilidad de Sociedades<br>
                        *Matemática Comercial<br>
                        *Fundamentos de Derecho<br>
                        *Inglés Comercial I<br>
                        * Redacción y Correspondencia Mercantil<br>
                        *Introducción a la Economía<br>
                        *Ortografía y Caligrafía<br>
                        *Administración y Organización de Oficina<br>
                        *Computación I<br>
                        *Programación I<br>
                        *Religión
                    </p>
                </div>

                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Contabilidad de Costos<br>
                        *Cálculo Mercantil y Financiero<br>
                        *Inglés Comercial II<br>
                        *Legislación Fiscal y Aduanal<br>
                        *Finanzas Públicas<br>
                        *Geografía Económica<br>
                        *Catalogación y Archivo<br>
                        *Mecanografía<br>
                        *Computación II<br>
                        *Programación II<br>
                        *Religión

                    </p>
                </div>

                <div class="col">


                    <h4>SEXTO</h4>
                    <p>
                        *Contabilidad Bancaria<br>
                        *Estadística Comercial<br>
                        *Contabilidad Gubernamental Integrada<br>
                        *Organización de Empresas<br>
                        *Ética Profesional y Relaciones Humanas<br>
                        *Práctica Supervisada<br>
                        *Auditoría<br>
                        *Derecho Mercantil y Nociones de Derecho<br>
                        *Laboral<br>
                        *Computación III


                    </p>
                </div>



            </div>
        </div>
    </div>

    <br>
<!-- PENSUM MEIBI  -->
    
    <div class="secction4">
        <div class="background-overlay4"></div>

        <div class="container">
            <div class="row">
                <h4 style="font-size: 36px;">PENSUM MEIBI</h4>
                <div class="col">
                    <h4>CUARTO</h4>
                    <p>
                        *Matemáticas
                        *Física Fundamental
                        *Comunicación Y Lenguaje: Idioma Materno I [L1] <br>
                        *Comunicación Y Lenguaje: Segundo Idioma I [L2] <br>
                        *Comunicación Y Lenguaje: Tercer Idioma I [L3] Inglés <br>
                        *Expresión Artística Y Corporal I: Danza,Teatro Y Su Didáctica <br>
                        *Psicopedagogía Y Didáctica Generales <br>
                        *Educación Bilingüe Intercultural <br>
                        *Informática Aplicada A La Educación <br>
                        *Práctica Docente: Observación De Educación Formal Y No Formal <br>
                        *Religión

                    </p>
                </div>


                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Seminario Sobre Problemas De Educación <br>
                        *Medio Social Y Natural I Y Su Didáctica <br>
                        *Estadística Aplicada A La Educación <br>
                        *Comunicación Y Lenguaje: Idioma Materno
                        LI [L1] <br>
                        *Comunicación Y Lenguaje : Segundo Idioma
                        LI [L2] <br>
                        *Comunicación Y Lenguaje: Tercer Idioma LI [L3] Inglés <br>
                        *Expresión Artística Y Corporal Ii: Educación Musical Y Su Didáctica <br>
                        *Psicopedagogía Infantil <br>
                        *Didáctica De Las Matemáticas <br>
                        *Planificación Y Evaluación <br>
                        *Práctica Docente: Observación Y Participación <br>
                        *Religión
                    </p>
                </div>



                <div class="col">
                    <h4>SEXTO</h4>
                    <p>
                        *Realidad Social Cultural: Cultura, Identidad Y Derechos Humanos <br>
                        *Medio Social Y Natural Ii Y Su Didáctica <br>
                        *Química <br>
                        *Didáctica Del Idioma Materno (L1) <br>
                        *Didáctica Del Segundo Idioma (L2) <br>
                        *Didáctica Del Tercer Idioma [L3] Inglés <br>
                        *Literatura Universal <br>
                        *Literatura Maya, Ladina, Xinka Y Garífuna <br>
                        *Expresión Artística Y Corporal Ii: Artes Plásticas <br>
                        *Enfoques Pedagógicos: Educación Para La Democracia Y En Valores <br>
                        *Práctica Docente <br>
                        * Religión
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br>
    <!-- PENSUM MERDACOTECNIA  -->
    
    <div class="secction5">
        <div class="background-overlay5"></div>

        <div class="container">
            <div class="row">
                <h4>PENSUM MERCADOTECNIA</h4>
                <div class="col">
                    <h4>CUARTO</h4>
                    <p>
                        *Matemática Financiera <br>
                        *Introducción a la Economía<br>
                        *Mercadotecnia I (Teoría) <br>
                        *Publicidad I (Teoría y Dibujo) <br>
                        *Fundamentos de Derecho <br>
                        *Inglés Comercial I <br>
                        *Comunicación <br>
                        *Administración I <br>
                        *Contabilidad Aplicada <br>
                        *Religión
                    </p>
                </div>

                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Matemática Aplicada <br>
                        *Mercadotecnia II (Mercadeo de Productos) <br>
                        *Publicidad II (Teoría y Dibujo) <br>
                        *Derecho Laboral y Derecho Mercantil <br>
                        *Inglés Comercial II <br>
                        *Moral Ética Profesional y Relaciones
                        Humanas
                        *Administración II (Dirección y Técnicas de Ventas) <br>
                        *Comercio Interno y Externo (I.E.C.A.) <br>
                        *Estadística Aplicada <br>
                        *Religión
                    </p>
                </div>

                <div class="col">


                    <h4>QUINTO</h4>
                    <p>
                        *Psicología Aplicada a la Empresa <br>
                        *Mercadotecnia III (Investigación de Mercados) <br>
                        *Publicidad III (Aplicación) <br>
                        *Promoción de Ventas <br>
                        *Administración III (Organización Industrial) <br>
                        *Relaciones Públicas <br>
                        *Seminario sobre Problemas Mercadológicos y Publicitarios <br>
                        *Práctica Supervisada (200 horas) <br>
                        *Religión
                    </p>
                </div>



            </div>
        </div>
    </div>

    <br>
<!--  PENSUM ADMINISTRACION -->
   
    <div class="secction6">
        <div class="background-overlay5"></div>

        <div class="container">
            <div class="row">
                <h4>PENSUM PERITO ADMINISTRACION</h4>
                <div class="col">
                    <h4>CUARTO ADMON</h4>
                    <p>
                        *Administración Pública <br>
                        *Matemática <br>
                        *Introducción a la Economía <br>
                        *Teoría del Derecho Administrativo <br>
                        *Organización Administrativa del Gobierno <br>
                        *Contabilidad General <br>
                        *Organización Y Métodos <br>
                        *Religión
                    </p>
                </div>

                <div class="col">


                    <h4>QUINTO ADMON</h4>
                    <p>
                        *Administración Pública II <br>
                        *Estadística General <br>
                        *Desarrollo Nacional I <br>
                        *Legislación Administrativa <br>
                        *Hacienda Pública y Presupuesto Nacional I <br>
                        *Contabilidad Fiscal y Municipal de Costos <br>
                        *Teoría y Práctica de Planificación <br>
                        *Psicología General <br>
                        *Religión
                    </p>
                </div>

                <div class="col">


                    <h4>SEXTO ADMON</h4>
                    <p>
                        *Gerencia y Administración de Personal <br>
                        *Presupuesto Nacional II <br>
                        *Desarrollo Nacional II <br>
                        *Sistema de Compras y Suministros <br>
                        *Seminario sobre Problemas de Administración Pública <br>
                        *Relaciones Públicas, Humanas y Ética Profesional <br>
                        *Práctica Supervisada (200 horas para el alumno) <br>
                        *Religión
                    </p>
                </div>



            </div>
        </div>
    </div>

    <br>


</body>