<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap"
    rel="stylesheet">

<body>
    <!-- Carrusel -->
    <div id="inicio" class="main-header position-relative">
        <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Imagen 1 -->
                <div class="carousel-item active">
                    <img src="https://i.ibb.co/Ndqj2jsB/548055704-1179188084019414-4754357056810443246-n-1.jpg"
                        class="d-block w-100" alt="Imagen 1" style="height: 570px; object-fit: cover;">
                </div>

                <!-- Imagen 2 -->
                <div class="carousel-item">
                    <img src="https://i.ibb.co/q3dy3zXG/495481897-1081903640414526-5767845537132268817-n.jpg"
                        class="d-block w-100" alt="Imagen 2" style="height: 570px; object-fit: cover;">
                </div>

                <!-- Imagen 3 -->
                <div class="carousel-item">
                    <img src="https://i.ibb.co/sJXRhtVx/492308862-1077514087520148-9062006326584361595-n.jpg"
                        class="d-block w-100" alt="Imagen 3" style="height: 570px; object-fit: cover;">
                </div>
                <!-- Imagen 4 -->
                 <div class="carousel-item">
                    <img src="https://i.ibb.co/vvzVxSgb/474555763-1010945284177029-6176389090922467473-n.jpg"
                        class="d-block w-100" alt="Imagen 3" style="height: 570px; object-fit: cover;">
                </div>


            </div>


        </div>

        <!-- Capa y texto encima -->
        <div
            class="background-overlay text-white d-flex flex-column align-items-center justify-content-center text-center">
            <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png" height="200px" width="200px" alt="Logo"><br>
            <p style="font-family: 'Dancing Script', cursive; font-size: 30px; font-weight: bold; color: black;">
                "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es una Educación Esmeradamente
                <br> CRISTIANA. <br>
                Mons. Miguel Ángel García Arauz".
            </p>
        </div>
    </div>

    <br>

  <div class="secction1">
        <div class="background-overlay1"></div>

        <div class="container">
            <div class="row">

                <div class="col">
                    <h4>PRIMERO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

                <div class="col">
                    <h4>SEGUNDO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

                <div class="col">
                    <h4>TERCERO BÁSICO</h4>
                    <p>
                        * Matemática <br>
                        * Cultura e Idiomas Mayas, Garífuna y Xinca <br>
                        * Comunicación y Lenguaje (Español) <br>
                        * Comunicación y Lenguaje (Idioma Extranjero) <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales y Ciudadanía <br>
                        * Educación y Expresión Artística <br>
                        * Emprendimiento para la Productividad <br>
                        * Tecnologías del Aprendizaje y la Comunicación <br>
                        * Educación Física
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br>

<div class="secction1">
        <div class="background-overlay1"></div>

        <div class="container">
            <div class="row">
                <h4>PENSUM PERITO COMPUTACION </h4> <br>
                <div class="col">
                    <h4>CUARTO </h4> <br>
                    <p>
                        * Contabilidad Sociedades<br>
                        * Matematica Comercial <br>
                        * Fundamentos de Derecho <br>
                        * Ingles Comercial I<br>
                        * Redaccion y Correspondecia Mercantil <br>
                        * Introduccion a la Economia<br>
                        * Ortografia y Caligrafia<br>
                        * Administracion y Organizacion Oficina <br>
                        * Computacion I
                    </p>
                </div>

                <div class="col">
                    <h4>QUINTO </h4> <br>
                    <p>
                        * Contabilidad de Costos <br>
                        * Calculo Mercantil y Financiero <br>
                        * Ingles Comercial II <br>
                        * Legislacion Fiscal y Aduanal <br>
                        * Finanzas Publicas <br>
                        * Geografia Economica <br>
                        * Catalogacion y Archivo <br>
                        * Mecanografia<br>
                        * Computacion II <br>
                        
                    </p>
                </div>

                <div class="col">
                    <h4>SEXTO</h4> <br>
                    <p>
                        * Contabilidad Bancaria <br>
                        * Contabilidad Gubernamental Integrada <br>
                        * Estadistica Comercial <br>
                        * Organizacion de Empresas <br>
                        * Etica Profesional y Relaciones Humanas <br>
                        * Practica Supervisada <br>
                        * Auditoria <br>
                        * Derecho Mercantil Nociones Laboral<br>
                        * Computacion III <br>
                        * Seminario Problemas Socioeconomicos Guatemala
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br>

<div class="secction1">
        <div class="background-overlay1"></div>

        <div class="container">
            <div class="row" style="column-gap: 200px;">
                
                 <div class="col"
                    style="font-family: Amatic SC, sans-serif; padding-top: 60px; font-size: 70px; font-weight: bold">
                    PENSUM BACHILLERATO MADUREZ 1 AÑO </div>


                <div class="col">
                    <h4>CUARTO </h4> <br>
                    <p>
                        * Lengua y Literatura <br>
                        * Comunicacion Lneguaje (Ingles) <br>
                        * Tecnologia Informacion y Comunicacion <br>
                        * Matematica <br>
                        * Ciencias Naturales <br>
                        * Ciencias Sociales Formacion Ciudadana <br>
                        * Psicologia <br>
                        * Filosofia<br>
                        * Expresion Artistica<br>
                        * Educacion Fisica<br>
                        * seminario
                        
                        
                        
                    </p>
                </div>

            

            </div>
        </div>
    </div>

    <br>



</body>    
