<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="header">

        <div class="slider-frame">
            <ul>
                <li><img src="https://i.ibb.co/bN9rJgG/IMG-20221029-WA0068.jpg"></li>
                <li><img src="https://i.ibb.co/bz5ZLdx/6.png"></li>
                <li><img src="https://i.ibb.co/r0fyXcJ/4.png" alt=""></li>
                <li><img src="https://i.ibb.co/kyr14mK/8.png" alt=""></li>
            </ul>

        </div>
    </div>

    <br>
    <br>

    <div class="secction1" id="HISTORIA">
        <div class="container">
            <div class="row align-items-start">

                <div class="col ">
                    <h1 style="text-align: center; color: #0049B7; font-weight: bolder"> HISTORIA</h1>

                    <p style="text-align: justify;" style="padding-top: -30px;">
                        El colegio Particular Mixto “Liceo Jalapa” fue fundado en el año 1952 por el Excelentísimo
                        Monseñor Miguel Ángel García Aráuz, con la finalidad de abrir campos en la educación para
                        la niñez y la juventud jalapaneca, haciendo hombres y mujeres de bien para nuestra patria.
                        Dio inicio en una casa particular de la profesora Berta Judith de Franco.

                    </p>

                    <p style="text-align: justify; font-weight: 750;">
                        En el año 1984 Mons. Miguel Ángel García Aráuz confió a M. Ángela Eugenia
                        Silva Sánchez la parte administrativa del Colegio Particular Mixto “Liceo Jalapa”. M. Ángela,
                        juntamente con sus hijas espirituales de “Marta y María”, tomaron el Colegio con el mismo empuje
                        y
                        vitalidad del Padre Fundador.
                    </p>

                    <p style="text-align: justify; font-weight:750">
                        *En el año 2007 M. Ángela le dio un giro veloz al Colegio “Liceo Jalapa” con su infraestructura
                        única en el departamento de Jalapa, buscando una educación sólida, con las condiciones aptas
                        para continuar el proceso de enseñanza-aprendizaje en el niño y en el joven liceísta. <br>
                        *En el año 2019 dando prioridad a la formación de niños y jóvenes por cada etapa, con la
                        gracia de Dios, se logró remodelar las primeras instalaciones del Colegio “Liceo Jalapa” para
                        instalar ahí el nivel primario y preprimario.

                    </p>
                </div>
                <div class="col">
                    <img src="https://i.ibb.co/tHd9j8q/IMG-20221029-WA0068.jpg" style="height: 550px; width: 350px">
                    <p
                        style="text-align: justify; padding-inline: 30px;background-color: rgb(14, 13, 13); height: 200px; width: 350px; color: white;">
                        Miguel Ángel García Aráuz (8 de octubre de 1911 - 28 de diciembre de 2003)
                        fue un prelado guatemalteco de la Iglesia católica​.Fue el Primer Obispo de
                        Jalapa quien tomó posesión canónica de la Diócesis de Jalapa el 30 de abril de
                        1951 a la edad de 39 años. También fue Obispo Auxiliar de la Arquidiócesis de
                        Guatemala.
                </div>
                <div class="col">
                    <img src="https://i.ibb.co/Jm7yY5N/8c0y-Xtl-Doiz-UPGZgv-Bp-Mp-VGQbgr.webp"
                        style="height: 550px; width: 350px">


                    <p
                        style="text-align:justify; padding-inline: 20px; background-color: rgb(14, 13, 13);height: 200px; width: 350px; color: white;">
                        En el año 2007 M. Ángela le dio un giro veloz al Colegio
                        “Liceo Jalapa” con su infraestructura única en el departamento de Jalapa, buscando una
                        educación sólida, con las condiciones aptas para continuar el proceso de enseñanza-aprendizaje
                        en el niño y en el joven liceísta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
<div class="secction2" id="VISION MISION">
    <div class="background-overlay1 text-white py-5 ">
      <div class="container">
        <div class="row">

          <div class="col ">

            <h1 style="text-align: left;margin-top: -2%;" > VISION </h1>
            <h5 style="font-size: clamp(1rem, 1vw, 2.5rem);line-height: 1.4; text-align: justify;" >
              Ser una institucion educativa con valores evangélicos,integrados
              en nuestra fe,con conocimientos intelecutales,religiosos, culturales
              y sociales, que se reconozca por su exelencia acádemica y formativa
              con carácter dinámico,creativo y humano, con una educacion personalizada
              atentos a la diversidad, integrando las diferentes culturas con calidad
              y mejoras en nuevas metodologias que se adapten a las caracteristicas y
              necesidades de cada alumno.
            </h5>
          </div>
          <div class="col">

            <h1 style="text-align: left;margin-top: -2%;"> MISION </h1>
            <h5 style="font-size: clamp(1rem, 1vw, 2.5rem);line-height: 1.4;text-align: justify;">
              Somos una insitucion educativa católica que unificando
              esfuerzos con la comunidad educativa, buscamos en el
              niño y el joven estudiantil el desarrollo y la capacidad
              intelectual los principios y valores éticos, morales y
              espirituales, cultivando en cada uno de los liceistas
              una formacion integral para que sean auténticos ciudadanos
              capaces para generar cambios en nuestra sociedad guatemalteca.
            </h5>


          </div>
        </div>
      </div>
    </div>
  </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>