.header {

    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -3%;

}


.slider-frame {

    width: 100%;
    height: 475px;
    margin: 50px auto 0;
    overflow: hidden;
    background: rgba(243, 240, 240, 0.801);




}

.slider-frame ul {

    display: flex;
    padding-left: 0%;
    width: 400%;
    padding-top: 30px;
    animation: slide 20s infinite alternate ease-in-out;


}

.slider-frame li {

    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-frame img {
    width: 100%;
    height: 465px;
    opacity: .8;
    background-size: cover;
    background-attachment: fixed;


}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}
.secction2 {
    text-align: center;
    background-color: rgb(0, 0, 116);
    background-size: cover;
    width: auto;
    margin: auto;
    padding: 8px;
    align-items: center;
    justify-content: center;

}

.secction4 {
    position: relative;
    background: url(https://i.ibb.co/dcgwn8g/liceoaatiguo2.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 580px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.background-overlay {

    background: rgba(255, 255, 255, 0.61);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}